<%= form_for(@party, :html => { :'data-ajax' => "false" }) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.phone_field :phone, :placeholder => "Phone Number" %>
  </div>
  <div class="field">
    <%= f.phone_field :wait, :placeholder => "Wait Quote (Minutes)" %>
  </div>
  <div class="field">
    <%= f.phone_field :size, :placeholder => "Party Size" %>
  </div>
  <div class="field">
    <%= f.text_area :notes, :placeholder => "Notes (e.g. prefers outdoor seating)" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
