<p>
  <b>Name:</b>
  <%= @party.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @party.phone %>
</p>

<p>
  <b>Wait:</b>
  <%= @party.wait %>
</p>

<p>
  <b>Size:</b>
  <%= @party.size %>
</p>
<% unless @party.notes.nil? %>
<p>
  <b>Notes:</b>
  <%= @party.notes %>
</p>
<% end %>

<div data-role="footer" data-position="fixed">
<div data-role="navbar">
	<ul>
		<li><%= link_to 'Notify', create_text_path(:party_id => @party.id), :'data-ajax' => "false" %></li>
		<li><%= link_to 'Delete', delete_party_path(@party), :'data-ajax' => "false" %></li>
		<li><%= link_to 'Edit', edit_party_path(@party) %></li>
		<li><%= link_to 'Back', parties_path %></li>
	</ul>
</div><!-- /navbar -->
</div>