<!DOCTYPE html> 
<html> 
<head> 
	<title>Waitlist</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head> 
<body> 

<div data-role="page">

	<div data-role="header" data-position="fixed" data-theme="b">
		<%= render 'devise/menu/registration_items' %>
		<h1 class="ui-title" role="heading" aria-level="1">
			<%= link_to "Waitlist", user_signed_in? ? parties_url : home_index_url, :style => "text-decoration: none;" %>
		</h1>
		<%= render 'devise/menu/login_items' %>
	</div><!-- /header -->

	<div data-role="content">	
		<% if notice %>
			<p class="flash alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="flash alert alert-error"><%= alert %></p>
		<% end %>
		<%= yield %>
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>
